// Module styling

#boardlayout {
	overflow: hidden;
	position: absolute;
	top: 49px;
	left: 0px;
	-webkit-transform-style: preserve-3d; 
	right: 0px;
	bottom: 0px;
}

#zoom-buttons {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 400px;
	margin-left: -220px;
	z-index: 6;
	background: rgba(255,255,255,0.7);
	padding: 0px 20px;
	user-select: none;
}

#boardcontents {
	position: absolute;
	// -webkit-transform-style: preserve-3d; 
	left: 5%;
	top: 5%;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
	transform: scale( .8, .8 );
	cursor: move;
	.md-headline {
		padding-bottom: 8px;
	}
}

.scale-button {
	padding: 8px;
	margin-top: 14px;
}
.scale-title {
	padding-top: 12px;
	text-align: center;
}
.boarditem {
	position: absolute;
	img {
		image-rendering: auto;
	}
}